[package]
name = "tailspin"
version = "6.0.0"
edition = "2024"
authors = ["Ben Sadeh"]
description = "A log file highlighter"
repository = "https://github.com/bensadeh/tailspin"
keywords = ["log", "syntax-highlighting", "tail", "less"]
license = "MIT"
rust-version = "1.93"

[profile.release]
lto = "fat"
codegen-units = 1
strip = true

[[bin]]
path = "src/main.rs"
name = "tspin"

[dependencies]
aho-corasick = "1.1.4"
clap = { version = "4.5.60", features = ["derive", "env", "wrap_help"] }
clap_complete = "4.5.66"
ctrlc = "3.5.2"
memchr = "2.7.6"
miette = { version = "7.6.0", features = ["fancy"] }
nu-ansi-term = "0.50.3"
rayon = "1.11.0"
regex = "1.12.2"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = { version = "1.0.149", features = ["preserve_order"] }
shell-words = "1.1.1"
shellexpand = "3.1.2"
tempfile = "3.26.0"
thiserror = "2.0.18"
tokio = { version = "1.49.0", features = ["macros", "rt-multi-thread", "sync", "fs", "io-util", "io-std", "time", "process"] }
toml = "1.0.3"
uuid = { version = "1.21.0", features = ["v4"] }
